body {
	overflow-x: hidden;
	margin: 0;
}

a {
	background-color: #000000;
	padding: 15px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	background-color: #333;
}

.header {
	display: flex;
	align-items: center;
	background-color: rgb(0, 170, 255);
	padding: 0 20px;
}

.navigation {
	display: flex;
	justify-content: space-between;
	background-color: rgb(0, 170, 255);
	margin: 0%;
	width: 100%;
	height: 50px;
	transition: all 0.3s ease;
}
.logo img {
	width: 50px;
	height: 50px;
	margin-right: 5px;
}

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #ff9100;
	padding: 60px 20px;
	width: 100%;
}

.project-container {
	padding: 80px 20px;
	background-color: #ff0000;
	display: flex;
	justify-content: center;

	flex-wrap: wrap;
	gap: 50px;
}

.tekst {
	text-align: center;
	padding: 40px;
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 80px;
	margin-top: 80px;
}

.wrapper {
	margin-top: 100px;
	background-color: yellow;
	width: 50%;
	margin: 0 auto;
}

.image {
	display: flex;
	background-color: yellow;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.grote-image {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.grote-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-top: 80px;
	margin-bottom: 80px;
	margin-left: 20px;
}

.grote-image2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.grote-image2 img {
	width: 50%;
	height: 50%;

	margin-top: 80px;
}

#menu-toggle {
	display: none;
}

.hamburger {
	display: none;
	font-size: 30px;
	cursor: pointer;
	color: white;
	margin-left: auto;
	padding: 10px;
}

@media (max-width: 768px) {
	.hamburger {
		display: block;
	}

	.navigation {
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: rgb(0, 170, 255);
		position: absolute;
		top: 60px;
		left: 0;

		opacity: 0;
		transform: translateY(-20px);
		pointer-events: none;
		transition: all 0.3s ease;
	}

	#menu-toggle:checked ~ .navigation {
		opacity: 1;
		transform: translateY(0);
		pointer-events: auto;
	}
}

.project-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	text-align: center;
	flex: 1 1 300px;
	max-width: 450px;
}
.project-item:hover {
	transform: scale(1.03);
}
.project-image img {
	width: 100%;
	max-width: 500px;
	height: auto;
	border-radius: 8px;
	margin-bottom: 20px;
}

.project-tekst h1 {
	margin-bottom: 15px;
}

.project-tekst p {
	line-height: 1.6;
	color: #333;
}
